<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///mall</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">create</property>
		<mapping resource="com/ls/domain/User.hbm.xml"/>
		<mapping resource="com/ls/domain/Address.hbm.xml"/>
		<mapping resource="com/ls/domain/Goods.hbm.xml"/>
		<mapping resource="com/ls/domain/GoodsPhoto.hbm.xml"/>
		<mapping resource="com/ls/domain/Order.hbm.xml"/>
		<mapping resource="com/ls/domain/OrderGoods.hbm.xml"/>
	</session-factory>
</hibernate-configuration>